@use "./partials/mediaQueries";

body {  
  @include mediaQueries.for-size(phone) {    
    background-color: blueviolet;
  }

  @include mediaQueries.for-size(tablet) {    
    background-color: yellow;
  }

  @include mediaQueries.for-size(desktop) {    
    background-color: orangered;
  }

  @include mediaQueries.for-size(large-desktop) {    
    background-color: greenyellow;
  }
}
