body * {
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }
body h5 {
  margin: 0; }
@media (max-width: 767px) {
  body {
    background-color: blueviolet; } }
@media (min-width: 768px) {
  body {
    background-color: yellow; } }
@media (min-width: 992px) {
  body {
    background-color: orangered; } }
@media (min-width: 1200px) {
  body {
    background-color: #ffffff; } }

@media (min-width: 992px) {
  .container {
    width: 85%;
    margin: 0 auto; } }
@media (min-width: 1200px) {
  .container {
    width: 60%;
    min-width: 1000px;
    margin: 0 auto; } }

.header {
  background-color: #d9e1e6;
  line-height: 30px; }
  .header .check {
    display: none; }
  .header .check:checked ~ * {
    display: none; }
  .header .checkbtn {
    float: right;
    cursor: pointer; }
  @media (max-width: 767px) {
    .header .close-icon {
      padding-right: 1rem; } }
  @media (min-width: 768px) {
    .header .close-icon {
      padding-right: 1.5rem; } }
  @media (min-width: 992px) {
    .header .close-icon {
      padding-right: 0; } }
  .header .header-message {
    text-align: center;
    height: 30px;
    font-size: 10px;
    color: #868f93;
    text-transform: uppercase; }

.button, .button-golden {
  font-size: 12px;
  text-transform: uppercase;
  padding: 1rem 2rem;
  cursor: pointer; }
  .button-golden {
    color: #111111;
    font-weight: 400;
    border: 2px solid #ded3aa; }
    .button-golden:hover {
      background-color: #eee; }

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0; }
  .logo .lang {
    padding: 1rem; }
  .logo option:checked[value="rus"] ~ img {
    display: none; }

nav {
  width: 100%;
  border: 1px solid #e1e1e1; }
  nav ul {
    text-align: center;
    padding: 0.6rem 0;
    margin: 0; }
    nav ul li {
      display: inline-block;
      line-height: 70px;
      margin: 0 1rem; }
      nav ul li a {
        text-decoration: none;
        color: #111111;
        font-size: 12px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase; }
      nav ul li a:hover {
        background: #ccc;
        transition: 0.5s; }
  nav .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 70px;
    margin-right: 2rem;
    cursor: pointer;
    display: none; }
  nav #nav-check {
    display: none; }
  @media (max-width: 767px) {
    nav .checkbtn {
      display: block; }
    nav ul {
      position: relative;
      width: 100%;
      background: #2c3e50;
      top: 60px;
      left: -100%;
      text-align: center;
      transition: all 0.5s; }
      nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px; }
        nav ul li a {
          font-size: 20px; }
        nav ul li a:hover {
          background: none;
          color: #ccc;
          transition: 0.5s; }
    nav #nav-check:checked ~ ul {
      left: 0; } }

.footer {
  border-top: #e1e1e1 1px solid;
  padding: 2rem 0; }
  .footer .footer-message {
    color: #b5b5b5;
    font-size: 13px;
    font-weight: 400;
    text-align: center; }

.main {
  display: flex;
  padding: 2rem 0; }
  @media (max-width: 767px) {
    .main {
      flex-direction: column; } }

.pictures .main-picture {
  width: 100%;
  max-height: 100%; }
.pictures .pic-thumbnails {
  padding: 0.8rem 0;
  display: flex;
  justify-content: space-between; }
  .pictures .pic-thumbnails * {
    width: 23%; }
@media (min-width: 768px) {
  .pictures {
    width: 55%; } }

.link {
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
  text-transform: uppercase; }

.description {
  padding-left: 1.2rem;
  font-size: 14px;
  font-weight: 400;
  height: 500px;
  background: burlywood; }
  @media (min-width: 768px) {
    .description {
      width: 45%; } }
  .description .back-to {
    color: #68899a;
    text-transform: capitalize;
    cursor: pointer; }
    .description .back-to:hover {
      text-decoration: underline; }
  .description .item-info .stars {
    display: inline-flex;
    flex-direction: row-reverse;
    padding-right: 0.6rem; }
    .description .item-info .stars input.star {
      display: none; }
    .description .item-info .stars label.star {
      font-size: 18px;
      color: #444; }
    .description .item-info .stars label.star:before {
      content: "\2606"; }
    .description .item-info .stars input.star:checked ~ label.star:before,
    .description .item-info .stars input.star:hover ~ label.star:before {
      content: "\2605";
      color: gold; }
    .description .item-info .stars input.star5:checked ~ label.star:before,
    .description .item-info .stars input.star5:hover ~ label.star5:before {
      color: red; }
    .description .item-info .stars input.star1:checked ~ label.star:before,
    .description .item-info .stars input.star1:hover ~ label.star1:before {
      color: #ffe448; }
  .description .item-info .description-title {
    font-size: 24px;
    font-weight: 700; }
  .description .item-info .reviews,
  .description .item-info .delimiter {
    color: #555555; }
  .description .item-info .delimiter {
    padding: 0 0.6rem; }
  .description .item-info .price {
    color: #68899a;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */
