@import './partials/variables';
@import './partials/mediaQueries';
@import './partials/body';
@import './partials/container';
@import './partials/header';
@import './partials/button';
@import './partials/logoSection';
@import './partials/navbar';

