*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  text-align:center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

body{
  min-height: 300px;
  min-width: 1000px;
}

.header{
  background: url(./src/Layer_8.png) no-repeat top center/cover;
}

.services{
  background: url(./src/Layer_4.png) no-repeat center center/cover;
}

.view-height-100{
  height: 100vh;
}

/* Color styles */
.text-primary{
  color: #3c3c3c;
}

.text-secondary{
  color: #ffffff;
}

.border{
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-style: solid;
  border-right-style: solid;
  border-left-style: solid;
}

.border-left{
  right: 75%;
  left: 0;
  border-top-width: 2px;
  border-top-style: solid;
  position: absolute;
  top: 0;
}

.border-top-primary{
  border-color: #3c3c3c;
}

.border-right{
  right: 0;
  left: 75%;
  border-top-width: 2px;
  border-top-style: solid;
  position: absolute;
  top: 0;
}

.border-top-secondary{
  border-color: #ffffff;
}

.border-primary{
  border-color: #3c3c3c;
}

.border-secondary{
  border-color: #ffffff;
}

/* Font styles */

.text-small{
  font-size: 0.875rem;
}

.text-light{
  font-weight: 300 !important;
}

.text-header{
  text-transform: uppercase;
  font-weight: 700;
}

.header-xl{
  font-size: 54px;
  letter-spacing: 8.62px;
}

.header-l{
  font-size: 34px;
}

.header-m{
  font-size: 26px;
}

.header-s{
  font-size: 20px;
}

.header-xs{
  font-size: 15px;
  letter-spacing: 0.9px;
  font-weight: 400 !important;
  line-height: 29px;
}

/* container styles */
.container{
  width: 900px;
  margin: 0 auto;
  position:relative;
  padding:4rem 0;
}

.container-centered{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-bottom{
  position:absolute;
  top:90%;
  left:50%;
  transform: translate(-50%, -50%);
}

.container-header{
  position:absolute;
  display:block;
  padding-left:5rem;
  padding-right:5rem;
  z-index: 54;
  letter-spacing: 0.56rem;
  background: transparent;
  top:-0.3rem;
  left:50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.container-flex{
  display:flex;
  align-items: center;
  justify-content: center;
}

.container-inner{
  width: 600px;
  margin: 0 auto;
}

.container-tiny{
  width: 500px;
  margin: 0 auto;
}

/* spacing styles */

.margin-bottom-1{
  margin-bottom: 0.5rem;
}

.margin-bottom-2{
  margin-bottom: 2rem;
}

.margin-bottom-3{
  margin-bottom: 3rem;
}

.margin-bottom-4{
  margin-bottom: 3.5rem;
}

.margin-bottom-5{
  margin-bottom: 5rem;
}

.margin-top-4{
  margin-top: 4rem;
}

.margin-top-3{
  margin-top: 3rem;
}

.margin-y-2{
  margin-bottom:1rem;
  margin-top:1rem;
}

.margin-y-3{
  margin-bottom:1.5rem;
  margin-top:1.5rem;
}

.margin-y-8{
  margin-bottom: 8rem;
  margin-top: 8rem;
}

.padding-y-2{
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.padding-y-8{
  padding-bottom: 8rem;
  padding-top: 8rem;
}

.padding-y-10{
  padding-bottom: 10rem;
  padding-top: 10rem;
}

.padding-top-3{
  padding-top: 3rem;
}

.padding-top-8{
  padding-top: 8rem;
}

.padding-bottom-3{
  padding-bottom: 3rem;
}

.padding-right-2{
  padding-right: 2rem;
}
/* Line height styles */

.line-height-small{
  line-height: 1.5rem;
}

.line-height-default{
  line-height: 1.62rem;
}

/* card styles */
.card{
  margin-top:3rem;
  margin-bottom:3rem;
}

/* showcase styles */
.showcase{
  display:flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}

.showcase-item{
  height:237px;
  position:relative;
  margin: 0.5rem;
  margin-left:0;
}

.showcase-item-small{
  width:28%;
}

.showcase-item-big{
  flex-grow: 1;
}

.showcase-item-1{
  background: url(./src/Layer_5_copy.png) no-repeat center center/cover;
}

.showcase-item-2{
  background: url(./src/Layer_5_copy_3.png) no-repeat center center/cover;
}

.showcase-item-3{
  background: url(./src/Layer_5_copy_2.png) no-repeat center center/cover;
}

.showcase-item-4{
  background: url(./src/Layer_5_copy_4.png) no-repeat center center/cover;
}

.showcase-item-5{
  background: url(./src/Layer_5_copy_5.png) no-repeat center center/cover;
}

.showcase-item-6{
  background: url(./src/Layer_5_copy_6.png) no-repeat center center/cover;
}

.showcase-header{
  position: absolute;
  top:70%;
  left:6%;
  text-align: left !important;
  letter-spacing: 0.56rem;
}
/* button styles */
.btn{
  text-transform: uppercase;
}

.btn-lg{
  font-size: 1rem;
  letter-spacing: 2.54px;
  padding:1rem 8.5rem;
}

.btn-primary{
  border: 2px solid #3c3c3c;
  background-color: #3c3c3c;
  color: #ffffff;
}

/* media queries */

@media (max-height: 500px) {
 .hide-sm{
   display: none;
 }

 .margin-y-0-sm{
   margin-top: 0;
   margin-bottom: 0;
 }

 .margin-bottom-1-sm{
   margin-bottom: 1rem;
 }
}

