body {  
  *{
    box-sizing:border-box;
    font-family: 'Lato', sans-serif;
  }

  h5{
    margin:0;
  }
  @include for-size(phone) {    
    background-color: blueviolet;
  }

  @include for-size(tablet) {    
    background-color: yellow;
  }

  @include for-size(desktop) {    
    background-color: orangered;
  }

  @include for-size(large-desktop) {    
    background-color: greenyellow;
  }
}