.description{
  img{
    
  }

  &:after{
    font-size:3rem;
    color:white;
    content: "DESCRIPTION";
  }
  height: 400px;
  background: burlywood;
  @include for-size(tablet) {    
    width: 45%;
    padding-left:1.2rem;
  }
}