.footer{
  .footer-message{
    /* Style for "Made with" */
    color: #b5b5b5;
    font-size: 13px;
    font-weight: 400;
    padding:2rem 0;


    text-align: center;
    height: $headerHeight;
    
  }
}