.item-share {
  margin-top: 2rem;
  padding: 1rem 0;
  border-top: 1px #e1e1e1 solid;
  border-bottom: 1px #e1e1e1 solid;
  display: flex;
  justify-content: space-between;
  @include for-size(phone) {
    justify-content: space-around;
  }
  color: $primary;
  font-size: 11px;
  font-weight: 300;

  .share-text {
    color: $primary-dark;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;

    @include for-size(phone) {
      display: none;
    }
  }

  .share-buttons {
    @include for-size(desktop) {
      width: 90%;
    }

    @include for-size(large-desktop) {
      width: 70%;
    }

    button {
      @include for-size(phone) {
        transform: scale(1.5);
      }
    }

    width: 70%;
    display: flex;
    justify-content: space-between;

    img {
      max-height: 10px;
    }

    .shares {
      @include for-size(phone) {
        display: none;
      }

      @include for-size(tablet) {
        display: none;
      }

      @include for-size(desktop) {
        display: inline;
      }
    }

    .like-buttons {
      .like {
        background: linear-gradient(to top, #3a53a3 0%, #4b67bc 100%);
        @include for-size(phone) {
          margin-right: 1.5rem;
        }
      }

      .share {
        background-image: linear-gradient(to top, #4c69bc 0%, #5a78d6 100%);
      }
    }

    .tweet {
      color: #333333;
      border: 1px solid #cccccc;
      background-image: linear-gradient(to top, #dedede 0%, #ffffff 100%);
    }
  }
}
