@import "./link";

.item {
  padding-left: 1.2rem;
  font-size: 14px;
  font-weight: 400;
  height: 500px;

  background: burlywood;
  @include for-size(tablet) {
    width: 45%;
  }

  .back-to {
    color: $primary-accent;
    text-transform: capitalize;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
  
  @import "./itemHeader";
  @import "./itemAvaliability";
  @import "./itemDescription";
}

