.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;

  .lang-select {
    display: flex;
    flex-direction: row-reverse;

    select {
      outline: inherit;
      border: none;
      background: #fff;
    }

    select[data-chosen="opt1"] ~ .red {
      display: block;
    }
    select[data-chosen="opt2"] ~ .rus {
      display: block;
    }
    select[data-chosen="opt2"] ~ .usd {
      display: none;
    }

    .lang-icon {
      max-width: 23px;
      max-height: 23px;
    }

    .usd {
      @extend .lang-icon;
      display: block;
    }

    .rus {
      @extend .lang-icon;
      display: none;
    }
  }
}
