nav {
  width: 100%;
  border: 1px solid #e1e1e1;

  ul {
    text-align: center;
    padding: 0.6rem 0;
    margin: 0;

    li {
      display: inline-block;
      line-height: 70px;
      margin: 0 1rem;

      a {
        text-decoration: none;
        color: #111111;
        font-size: 12px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
      }

      a:hover {
        background: #ccc;
        transition: 0.5s;
      }
    }
  }

  .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 70px;
    margin-right: 2rem;
    cursor: pointer;
    display: none;
  }

  #nav-check {
    display: none;
  }

  @include for-size(phone) {
    .checkbtn {
      display: block;
    }
    ul {
      position: relative;
      width: 100%;
      background: #2c3e50;
      top: 60px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
      li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
        a {
          font-size: 20px;
        }
        a:hover {
          background: none;
          color: #ccc;
          transition: 0.5s;
        }
      }
    }

    #nav-check:checked ~ ul {
      left: 0;
    }
  }
}
